<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.ucenter.mapper.MemberMapper">

    <select id="selectRegisterCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM ucenter_member
        WHERE DATE(gmt_create) = #{value}
    </select>

</mapper>
